.chat-main
  .chat-main__group-info
    .chat-main__group-info__left
      .chat-main__group-info__left__group-name
        testgroup
      .chat-main__group-info__left__group-member
        .chat-main__group-info__left__group-member__title
          Member:
        .chat-main__group-info__left__group-member__value
          masa
    .chat-main__group-info__right
      edit
  .chat-main__message-list
  .chat-main__message-form
    .chat-main__message-form__text-area
      .chat-main__message-form__text-area__message
        type a message
      %label.chat-main__message-form__text-area__image
        = icon('fas', ' fa-image')
        %input.hidden{type: "file"}
    .chat-main__message-form__button
