.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      .side-bar__user-name__top-items__icon
        .side-bar__user-name__top-items__icon__edit
          = icon('fas',' fa-edit')
        .side-bar__user-name__top-items__icon__settings
          = link_to icon('fas',' fa-cog'), edit_user_path(current_user)
  .side-bar__group-ul
    .side-bar__group-ul__list
      .side-bar__group-ul__list__group-name
        techcamp
      .side-bar__group-ul__list__last-message
        まだメッセージはありません